.scrollbar-custom::-webkit-scrollbar {
    height: 6px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #737070;
    border-radius: 10px;
}